.focus-display, .focus-fish, .focus-image {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 24px;
}

.fish-name {
  font-size: 50px;
}

.focus-image {
  color: black;
  background-color: #FFF4E4;
  border-radius: 50px;
  margin: 16px;
}

.fish-icon {
  padding: 16px;
  border: 8px solid #27233A;
  border-radius: 200px;
}

.fish-image {
  padding: 16px;
  height: 180px;
  background-color: #B0D6FC;
  border-radius: 120px;
}

.focus-details {
  color: white;
  padding: 16px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 16px solid #6BAB90;
  border-radius: 50px;
  background-color: #55917F;
}

.save-button {
  color: white;
  background-color: #27233A;
  border: 4px solid #505168;
  border-radius: 10px;
  margin: 8px;
}

@media screen and (max-width: 55em) {
  .focus-details {
    width: 80%;
  }

  .fish-image {
    height: 80%;
  }
}

@media screen and (max-width: 35em) {
  .focus-details {
    flex-direction: column;
  }

  .focus-image {
    width: 80%;
  }

  .fish-image {
    width: 80%;
  }
}